body
{
    
    user-select: none;
}

#Q
{
  position: absolute;
  left:45%;
  top:12%;
}

#Convert
{
    display: none;
    position: absolute;
    left:45%;
    top:60%;
    
}

#ConvertW
{
    display: none;
    position: absolute;
    left:45%;
    top:60%;
    
}


#ConWeight
{
  position: absolute;
  left:70%;
  top:12%;

}

#ConTemperature
{
  position: absolute;
  left:80%;
  top:12%;

}

#Conlength
{
  position: absolute;
  left:60%;
  top:12%;

}


#Calc
{
    position: absolute;

    left:0%;
    top:50%;
}


.Ans
{
	border: none !important;
  background: rgba(255, 255, 255, 0.2);

  line-height: 3em;

  height: 60px;
  width: 600px;
  
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;

  font-size: 200%;

}



.Con
{

        border: none !important;
        background: rgba(255, 255, 255, 0.2);



        height: 60px;
        width: 300px;
        
        
        
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
        border-radius: 30px;


}


#Feet
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 40px;
    width: 300px;
    font-size: 200%;
}
#Pounds
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 40px;
    width: 300px;
    font-size: 200%;
}
#Kg
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 40px;
    width: 300px;
    font-size: 200%;
}
#Ounces
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 40px;
    width: 300px;
    font-size: 200%;
}
#Stones
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 40px;
    width: 300px;
    font-size: 200%;
}
#Grams
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 40px;
    width: 300px;
    font-size: 200%;
}
#Inches
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 40px;
    width: 300px;
    font-size: 200%;
}
#Cm
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 40px;
    width: 300px;
    font-size: 200%;
}
#Yards
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 40px;
    width: 300px;
    font-size: 200%;
}
#Km
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 40px;
    width: 300px;
    font-size: 200%;
}
#Mil
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 40px;
    width: 300px;
    font-size: 200%;
}

#IMil
{

    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;


    text-decoration-color: white;    
    height: 60px;
    width: 300px;
    font-size: 200%;
}
#IPounds
{

    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;


    text-decoration-color: white;    
    height: 60px;
    width: 300px;
    font-size: 200%;
}
#IKg
{

    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;


    text-decoration-color: white;    
    height: 60px;
    width: 300px;
    font-size: 200%;
}

#IOunces
{

    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;


    text-decoration-color: white;    
    height: 60px;
    width: 300px;
    font-size: 200%;
}

#IStones
{

    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;


    text-decoration-color: white;    
    height: 60px;
    width: 300px;
    font-size: 200%;
}

#IGrams
{

    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;


    text-decoration-color: white;    
    height: 60px;
    width: 300px;
    font-size: 200%;
}
#IKm
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 60px;
    width: 300px;
    font-size: 200%;
}
#IYards
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 60px;
    width: 300px;
    font-size: 200%;
}

#ICm
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 60px;
    width: 300px;
    font-size: 200%;
}
#IInches
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 60px;
    width: 300px;
    font-size: 200%;
}

#IFeet
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;

    holder-color:white;
    
    height: 60px;
    width: 300px;
    font-size: 200%;
}

#IMeters
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 60px;
    width: 300px;
    font-size: 200%;
}


#Meters
{
    text-align: right;

    background:rgba(0 , 0 , 0 , 0);
    border: none;

    color: #fff;
    
    height: 40px;
    width: 300px;
    font-size: 200%;
}


#result
{
	text-align: right;
  position: absolute;
  top:9px;
  left:20px;
	background:rgba(0 , 0 , 0 , 0);
	border: none;

	color: #fff;
	
	height: 40px;
	width: 580px;
	font-size: 200%;
}


#bottom
{
  text-transform: lowercase;
	font-size:200%;
	height: 200px;
	width: 20px;
}

#opacityOn
{
	opacity:0;
}
